table.stoplist
  tr
    th 站名
    th 預估時間
  tr
  each item in Stops
    tr
      td= item.StopName + ' '
      - var a = item.StopName
      td= estimate[a] !== undefined ? (estimate[a] === 0 ? '進站中' : Math.floor(estimate[a]/60) ? Math.floor(estimate[a]/60) + '分' : '將進站') : '未發車'
