doctype html
html
  head
    title 公車路線
    meta(charset='utf-8')
    link(rel='stylesheet', href='../css/style.css')
  body
    div.content
      h1.title #{city} #{routename}
      a(href='/bus' style='margin: 5%') 返回
      div.container
        div.left
          include routeBody.pug
        div.right#googleMap for google map api
    include routeScript.pug
