script.
  var city = !{ JSON.stringify(city) }
  var routename = !{ JSON.stringify(routename) }
  var init = document.getElementById(routename+' 0')
  var tmp
  document.addEventListener('DOMContentLoaded', function() {
    getStops(init)
    setInterval(() => {
      var xhttp = new XMLHttpRequest()
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementsByClassName('left')[0].innerHTML = this.responseText
          var resScript = this.responseText.split('<\/script>')[0].slice(8)
            var busPosition =resScript.split('\n')[0]
            eval(busPosition)
            if(tmp){
                for(var i in tmp){
                MarkerObj[tmp[i].StopName].setIcon(icon)
              }
            }
            tmp=busPosition
            for(var i in tmp){
              MarkerObj[tmp[i].StopName].setIcon(busicon)
            }
        }
      }
      xhttp.open('POST', '/ajroutes', true)
      xhttp.setRequestHeader("Content-type", "application/json")

      xhttp.send(JSON.stringify({
        "City": city,
        "RouteName": routename,
        "Direction": routeID.slice(-1)
      }))

    }, 15000)
  })
