ul.stoplist
  each item in stoplist
    li= item.StopName.Zh_tw + ' ' + (Math.floor(item.EstimateTime/60) ? (Math.floor(item.EstimateTime/60) + '分') : '') + (item.EstimateTime - Math.floor(item.EstimateTime/60)*60) + '秒'
