doctype html
html
  head
    title 公車路線
    meta(charset='utf-8')
    link(rel='stylesheet', href='../css/style.css')
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCDXOuy6JUbrfl6qLKNCXagS1ywRVg5hw&callback=initMap")
  body
    div.content
      h1.title #{city} #{routename}
      a(href='/bus' style='margin: 5%') 返回
      each item in stoplist
        button.routeButton(id=item.RouteName+' '+item.Direction onclick='getStops(this)')= item.RouteName + (item.Direction ? ' 返' : ' 去')
      div.container
        div.left
        div.right#map
    script.
      var routeID
      function getStops(element) {
        var buttons = document.getElementsByTagName('button')
        for(var i = 0; i < buttons.length; i++) {
          buttons[i].style.backgroundColor = 'white'
        }
        var xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementsByClassName('left')[0].innerHTML = this.responseText
          }
        }
        xhttp.open('POST', '/ajroutes', true)
        xhttp.setRequestHeader("Content-type", "application/json")
        
        City = city
        RouteName = routename
        element.style.backgroundColor = '#ffb3b3'
        routeID = element.id
        Direction = element.id.slice(-1)
        xhttp.send(JSON.stringify({
          City,
          RouteName,
          Direction
        }))
      }
    include routeScript.pug
    script.
      var data = !{ JSON.stringify(stoplist) }
    script(src='../static/googleinitMap.js')
