doctype html
html
  head
    title 公車路線
    meta(charset='utf-8')
    link(rel='stylesheet', href='../css/style.css')
  body
    div.content
      h1.title #{city} #{routename}
      div.container
        div.left
          ul.stoplist
            each item in stoplist
              li= item.StopName.Zh_tw + ' ' + item.EstimateTime +'秒'
        div.right#googleMap for google map api
        //script.
        //  function myMap() {
        //    var mapProp= {
        //      center:new google.maps.LatLng(51.508742,-0.120850),
        //      zoom:5
        //    }
        //    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
        //  }
        //script(src='https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap')
