doctype html
html
  head
    title Utilities
    meta(charset='utf-8')
    link(rel='stylesheet', href='../css/style.css')
  body
    div.content
      h1.title 簡易公車查詢
      div.container
        div.utilContainer 
          h3 想知道哪個公車路線嗎？
          form(method='POST' action='/routes')
            span(style='display: block') Choose a City:
              select(name='City' style='margin: 10px')
                each item in cities
                  option(value=item) #{item}
            span Enter a RouteName of Bus: 
              input(type='text' name='RouteName')
            Button(type='submit') submit
        div.utilContainer
          h3 想知道哪個公車站有哪些公車經過嗎？
          form(method='POST' action='/stops')
            span(style='display: block') Choose a City:
              select(name='City' style='margin: 10px')
                each item in cities
                  option(value=item) #{item}
            span Enter a Name of a Stop: 
              input(type='text' name='StopName')
            Button(type='submit') submit
