

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.container {
  display: flex;
  margin: 2% 3%;
}

table, th, td {
    border: 2px solid #EEEEEE;
    border-collapse: collapse;
}

tr {
  text-align: left;
}

.left {
  padding: 8px;
  float: left;
  width: 20%;
  margin: 0;
  height: 600px;
  overflow: scroll;
}

.right {
  padding: 8px;
  float: left;
  height: 600px;
  width: 80%;
  margin: 0;
}

.title {
  text-align: center;
}

.stoplist {
  padding: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  weight: 100%;
}

.routesContainer {
  margin: 2% 5%;
}

.routeButton {
  margin: 1px;
  color: black;
  background-color: white;
  border: 1px solid #555555;
}

.schButton {
  margin: 1px;
  color: black;
  background-color: white;
  border: 1px solid #555555;
}

.utilContainer {
  display: inline-block;
  margin: 10px;
  width: 50%;
  text-align: center;
}

#stops {
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

#busLoader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 60;
  height: 60px;
  margin: -75px 0 0 -75px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader {
  position: relative;
  left: 65%;
  top: 50%;
  z-index: 1;
  width: 60;
  height: 60px;
  margin: -75px 0 0 -75px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#map {
  height: 600px;
  width: 100%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

Button:focus {
  outline: none;
}
